* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='file'] {
  width: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  margin: 0 auto;
  width: 1280px;
  height: 720px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-height: 75%;
  max-width: 75%;
  object-fit: contain;
  box-shadow: 15px 15px 20px 15px rgba(0, 0, 0, 0.35);
}

.tips {
  font-size: 3em;
  color: #fff;
}
